Replies lack `In-Reply-To` and/or `References` headers 

**Describe the bug**
Replies sent via SnappyMail seem to lack the `In-Reply-To` header and contain a broken `References` header instead:
```
[...]
X-Mailer: SnappyMail/2.15.1
From: "Joe User" <juser@***>
Message-ID: <e25a8259bfbcc8157dbd85fe1ce53d528119450e@***>
Subject: Re: Thread Test
To: "Joe User" <juser@***>
References: undefined undefined
```
replies lack `In-Reply-To` and/or `References` headers 

**To Reproduce**
Steps to reproduce the behavior:
1. Reply to an  existing message
2. View the source of the delivered reply

**Expected behavior**
Although only optional as per RFC 2822, section 3.6.4, a reply should contain `In-Reply-To` and/or `References` headers in order to support the recipient's MUA in visualizing the thread of messages.

**Desktop (please complete the following information):**
 - Browser Firefox 98.0 on Ubuntu 20.04
 - SnappyMail Version 2.15.1