Support for \NoSelect folders could be improved

`\NoSelect` (aka `virtual`) folders are still not very well supported by snappymail (and that is true for `Rainloop` as well, so it's not `snappymail` specific).

For example, I have a bunch of mailboxes which store mails from various mailing lists. They are all subfolders of a `virtual` parent folder named `ML`. Renaming the `ML` virtual folder isn't possible even though it is possible to rename a parent folder if it is a `real` folder.

Also, it isn't possible to create a folder hierarchy including a virtual folder (so the above example with a virtual `ML` parent folder containing a bunch of real subfolders would not be possible to setup in `snappymail` even if it is displayed correctly after creating the hierarchy using a different client). It used to be possible at some point to do it in `Rainloop` by using e.g. `ML.Subfolder` (or it might have been `ML/subfolder`, I'm not sure) as the name of a new folder, but that functionality disappeared at some point in the past.

Another example is that in the `sieve` editor (the simple one), it isn't possible to select a folder which is a subfolder of a `virtual` folder as a target for `move to` (the whole hierarchy is missing from the dropdown).

Finally, and this is a bit of a personal peeve, but the mouseover cursor displayed when hovering over a virtual folder in the folder list is kind of startling (it's a CSS `cursor: not-allowed;` cursor rather than a normal cursor, which would IMHO be sufficient to signal no action possible).

Thanks for your great work on `snappymail`!

Thanks!

Yes i know the \NoSelect is horrible.
I've tried to disable them all because "no select" should say: you can't select this folder.
So when you want to create folder "noselect" this one as parent.

Problem is that i don't have virtual/noselect setups to find out how IMAP servers behave, as it seems they all react differently.

For example the [gmail] folder is noselect, but there is mail in there.

So maybe just drop any noselect behavior and log/fix reported issues?

> Thanks!
> 
> Yes i know the \NoSelect is horrible.
> I've tried to disable them all because "no select" should say: you can't select this folder.

Yeah, you cant select it. As in, you can't fetch emails from it. But it should still be usable as e.g. a parent folder when creating folders. I think the example in [RFC3501, section 6.3.4](https://datatracker.ietf.org/doc/html/rfc3501#section-6.3.4) makes the intended behaviour pretty clear.

> So when you want to create folder "noselect" this one as parent.

Not sure I follow....there's nothing wrong about using a `noselect` mailbox as a parent for a new "real" mailbox?

> Problem is that i don't have virtual/noselect setups to find out how IMAP servers behave, as it seems they all react differently.

Which IMAP server do you use? `dovecot` supports virtual/noselect mailboxes...I could give you access to a server with a working `dovecot` setup with virtual mailboxes if you like...?

> For example the [gmail] folder is noselect, but there is mail in there.

Hm. Are you sure about that? The Google documentation on [IMAP extensions](https://developers.google.com/gmail/imap/imap-extensions) seems to disagree (note the `INBOX` and `[Gmail]/All Mail` mailboxes). And that also seems to be in line with what's described in Snappymail issue #94.

> So maybe just drop any noselect behavior and log/fix reported issues?

I don't really think the `\NoSelect` situation is *that* dire. Basically the support in `snappymail` for `\NoSelect` works right now (you can't click on a `\NoSelect` mailbox in the main UI, which is correct behaviour). There are only some quirks to iron out (like allowing `\NoSelect` parent mailboxes to be renamed just like normal parent mailboxes).

> P.S. for example the Sieve folder in IMAP is NoSelect so you should not access it (which indeed throws error).

The `sieve` folder shouldn't normally be exposed by the IMAP server (except for cases like misconfiguration, like [this](https://github.com/docker-mailserver/docker-mailserver/issues/508)) theres the `managesieve` protocol for that.

But if there are IMAP servers which expose the `sieve` folder as an IMAP `\NoSelect` mailbox, that wouldn't really be affected by any of the proposed fixes.

> Also read this screwup: https://dovecot.org/pipermail/dovecot/2018-September/113048.html

I have some difficulties following exactly what the original poster did...but he seems to have manipulated the dovecot directories manually, and mixed namespaces, etc....not sure it's really relevant.

Ok, i've made changes how the whole system works:

# FolderSystemPopupView
Used in /#/settings/folders (button to set system folders).
Will show all folders (selectable/subscribed or not)
\NoSelect folders are NOT selectable (only children)

# FolderCreatePopupView
Used in /#/settings/folders (button to create folder).
Will only show subscribed if "Hide unsubscribed folders" is checked
\NoSelect folders are selectable as parent folder

# sieve filters
Will only show subscribed if "Hide unsubscribed folders" is checked
\NoSelect folders are NOT selectable (only children)

# Move message folder list
Will only show subscribed if "Hide unsubscribed folders" is checked
\NoSelect folders are NOT selectable (only children)


> ## FolderCreatePopupView
> Used at /#/settings/folders (button to create folder).
> Will only show subscribed if "Hide unsubscribed folders" is checked
> \NoSelect folders are selectable as parent folder

Yes, that seems to work (dunno if it's more intutive to show all folders and only use "Hide unsubscribed folders" for the folder list in the main UI, but that's not a topic for this issue).

> ## FolderSystemPopupView
> Used at /#/settings/folders (button to set system folders).
> Will show all folders (selectable/subscribed or not)
> \NoSelect folders are NOT selectable (only children)

Yeah, works.

> ## sieve filters
> Used at /#/settings/filters (rainloop.user script)
> Will only show subscribed if "Hide unsubscribed folders" is checked
> \NoSelect folders are NOT selectable (only children)

Also works, though I still wonder if only showing subscribed folders is a good idea. The user might want to filter some stuff into folders that aren't subscribed.

> ## Move message folder list
> Will only show subscribed if "Hide unsubscribed folders" is checked
> \NoSelect folders are NOT selectable (only children)

Not sure which folder list this is. If it's the folder list in the main UI (`#/mailbox/INBOX`), then it appears to be broken now. `\NoSelect` parent folders and all of their children are missing from the list.

> Is it ok?

It's already better :) Another thing which seems to work correctly is the button at the bottom of the folder list in the main UI to create a new folder.

And one more thing. Right now there's no delete button shown for both real and virtual parent folders which have child folders in the  `#/settings/folders` UI. Not showing the delete button for `\NoSelect` parents is fine, but it should be possible to delete real parent folders, thereby turning them to `\NoSelect` folders (and doing so shouldn't change/delete the child folders, per the RFC section I quoted above).

> > ## FolderCreatePopupView
> > Used at /#/settings/folders (button to create folder).
> > Will only show subscribed if "Hide unsubscribed folders" is checked
> > \NoSelect folders are selectable as parent folder
> 
> Yes, that seems to work (dunno if it's more intutive to show all folders and only use "Hide unsubscribed folders" for the folder list in the main UI, but that's not a topic for this issue).
> 
> > ## sieve filters
> > Used at /#/settings/filters (rainloop.user script)
> > Will only show subscribed if "Hide unsubscribed folders" is checked
> > \NoSelect folders are NOT selectable (only children)
> 
> Also works, though I still wonder if only showing subscribed folders is a good idea. The user might want to filter some stuff into folders that aren't subscribed.
> 

Both are an annoying discrepancy.
People without knowledge use the "Hide unsubscribed folders" (which is default).
When they create a folder in an unsubscribed (or sieve move) then they have no clue where the mail messages go, unless they disable "Hide unsubscribed folders".
Even people with knowledge have the issue "where did that message go?".

The discrepancy is mostly this:
1. subscribed to folder X
2. sieve filter rule move to folder X
3. unsubscribe folder X

The only solution is to remove the whole "Hide unsubscribed folders" thing, but that might defeat the whole purpose of it.


> > ## Move message folder list
> > Will only show subscribed if "Hide unsubscribed folders" is checked
> > \NoSelect folders are NOT selectable (only children)
> 
> Not sure which folder list this is. If it's the folder list in the main UI (`#/mailbox/INBOX`), then it appears to be broken now. `\NoSelect` parent folders and all of their children are missing from the list.
> 

No, this was the old "move message to" behavior when application.ini setting is
`new_move_to_folder_button = Off`
I will have a look why it's broken.

> And one more thing. Right now there's no delete button shown for both real and virtual parent folders which have child folders in the `#/settings/folders` UI. Not showing the delete button for `\NoSelect` parents is fine, but it should be possible to delete real parent folders, thereby turning them to `\NoSelect` folders (and doing so shouldn't change/delete the child folders, per the RFC section I quoted above).

Will have a read on this.

@Alphix i have no clue why you don't see the NoSelect (sub-folders) in the folder tree on the left.
I've tested it with gmail and it works as expected.

> > > ## FolderCreatePopupView
> > > Used at /#/settings/folders (button to create folder).
> > > Will only show subscribed if "Hide unsubscribed folders" is checked
> > > \NoSelect folders are selectable as parent folder
> > 
> > 
> > [snip]...dunno if it's more intutive to show all folders and only use "Hide unsubscribed folders" for the folder list in the main UI, but that's not a topic for this issue).
> > > ## sieve filters
> > > Used at /#/settings/filters (rainloop.user script)
> > > Will only show subscribed if "Hide unsubscribed folders" is checked
> > > \NoSelect folders are NOT selectable (only children)
> > 
> > 
> > Also works, though I still wonder if only showing subscribed folders is a good idea. The user might want to filter some stuff into folders that aren't subscribed.
> 
> Both are an annoying discrepancy.
> People without knowledge use the "Hide unsubscribed folders" (which is default).
> When they create a folder in an unsubscribed (or sieve move) then they have no clue where the mail messages go, unless they disable "Hide unsubscribed folders".
> Even people with knowledge have the issue "where did that message go?".
> 
> The discrepancy is mostly this:
> 
> 1. subscribed to folder X
> 2. sieve filter rule move to folder X
> 3. unsubscribe folder X
> 
> The only solution is to remove the whole "Hide unsubscribed folders" thing, but that might defeat the whole purpose of it.

Yeah, `subscribed`/`non-subscribed` can lead to a lot of user confusion. Personally I just see "subscribed" as meaning "show it in the main/default UI", and that also seems to be the underlying idea in the `IMAP RFC`. For example, in [section 6.3.9](https://datatracker.ietf.org/doc/html/rfc3501#section-6.3.9) they seem to use an example where the whole `Usenet` hierarchy is exposed by an `IMAP` server. AFAIK, there are over 100k newsgroups. The main UI would obviously be useless if it showed all available mailboxes and not just the subscribed ones.

Others may, of course, have different views.

I doubt removing the whole functionality is a good solution though since users may have different MUAs which they use to access the same IMAP server (I use both webmail and `mutt`, sometimes `Thunderbird` to access the same server). Since other MUAs support and give meaning to the `subscribed` status, I think it's a feature which can't simply be ignored.

> @Alphix i have no clue why you don't see the NoSelect (sub-folders) in the folder tree on the left.
> I've tested it with gmail and it works as expected.

@the-djmaze : unfortunately I'm still seeing it. I was a bit surprised when debugging the `.js` issue in the `change-password` to see just how much caching was going on (changes to local `.js` files were not visible in the browser until I realised I had to restart `php7.4-fpm` to see them), so I've tried deleting browser caches and restarting both `php-fpm` and the web server. But I still can't see children of virtual parent folders in the main UI (though they are visible in the `/#/settings/folders` UI):

![snappycfg](https://user-images.githubusercontent.com/4029895/130529215-0b29efae-e8bd-4ed3-886a-8f99391a4975.png)
![snappymain](https://user-images.githubusercontent.com/4029895/130529218-fb532d27-7bdb-44d0-ab80-09bb784279b6.png)

*However*, if I turn off `Hide unsubscribed folders`, the folders are visible in the main UI (after doing a `ctrl`-`shift`-`r` reload in the browser, but that's probably issue #72):

![snappycfg2](https://user-images.githubusercontent.com/4029895/130529742-2a79cedb-3f47-46fb-b9a3-39f957fc612f.png)
![snappymain2](https://user-images.githubusercontent.com/4029895/130529758-e478b39e-f6af-4c33-bb57-1105717794ad.png)




After some more digging, the `Virtual` folder tree *is* included in the generated `HTML` in both cases, but it gets an additional `style="display: none;` attribute in the non-working case:

```
<div class="e-item" data-bind="visible: visible, css: { 'i-am-inbox-wrapper': isInbox }" style="display: none;">
<a data-bind="dropmessages: $data,    css: { 'i-am-inbox': isInbox, 'selected': selected() &amp;&amp; !isSystemFolder(), 'selectable': canBeSelected, 'hidden' : hidden, 'unread-sub': hasSubscribedUnreadMessagesSubfolders, 'system': isSystemFolder, 'anim-action-class': actionBlink },    attr: { 'data-unread': printableUnreadCount }">
<i data-bind="css: collapsedCss()" class="e-collapsed-sign icon-down-mini"></i><!-- ko text: name -->Virtual<!-- /ko --></a>
...
```


@the-djmaze : awesome, I've just tested commit 327d6c3 and it seems to fix the issue with disappearing folder trees having a virtual parent in the main UI.

Meanwhile, I've created pull request #121, which hopefully addresses the issue with deleting parent folders without touching subfolders. Assuming you agree with the thrust of that PR, I think this issue can be closed. 

@the-djmaze : hmm...maybe I spoke too soon....now the folder list seems to be correct for all cases (real/virtual folders, with/without hiding unsubscribed folders)....but I can't actually select (click on) any folder in the folder list of and see the message list for that folder...?

@the-djmaze : hah, that was fast. Seems to be fixed by ef4d604


Yeah it's still a work in progress ;)

@the-djmaze : ok, but as far as I'm concerned, this issue can be closed now. If anything pops up I can always open a new one 