Cannot connect to Exchange 2007 through perdition imaps when password contains accents

**Describe the bug**
SnappyMail is configured to connect to an old Exchange 2007 server through a perdition imaps proxy. It works like a charm unless you have an accent in your password.
In that case, Snappy Mail returns "Re-Authentication Failure" meaning distant server (Exchange here) is refusing credentials.
Same account through same perdition server but with Thunderbird as mail client works. So it seems SnappyMail is responsible of the failure. Maybe a password encoding issue ?

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to SnappyMail with account having accented password like "accentué1!"
2. See the "Re-Authentication Failure" error message

**Expected behavior**
Snappy should connect to the server as Thunderbird does with same credentials and configuration.

**Screenshots**
not relevant

**Desktop (please complete the following information):**
 - Firefox 91.8.0. ESR
 - SnappyMail Version 2.14.1

**Additional context**
On a recent dovecot imap server, connect to snappymail with accented passwords is accepted.
Exchange encoding is probably non-utf8 (don't know how to check that), but Thunderbird can deal with it, so SnappyMail should as well.


> Exchange encoding is probably non-utf8 (don't know how to check that)

Could you provide the log entries that have CAPABILITY results?
That should give an indication how the characters should be send to server.

Normally only US-ASCII is allowed, or UTF8 when supported.

8bit is strange as every country has its own layout for the 128-255 of the keyboard

I get these capabilities on the Exchange IMAP port : 
STARTTLS IMAP4rev1 CAPABILITY IDLE IMAP4 LOGINDISABLED completed NAMESPACE LITERAL+A0001

I need the capability after STARTTLS

I don't know how to get the capabillity after STARTTLS. Any hint ?

```
Connected to 10.30.50.5.
Escape character is '^]'.
* OK The Microsoft Exchange IMAP4 service is ready.
001 CAPABILITY
* CAPABILITY IMAP4 IMAP4rev1 LOGINDISABLED STARTTLS IDLE NAMESPACE LITERAL+
001 OK CAPABILITY completed.
001 STARTTLS
001 OK Begin TLS negotiation now.
```

Imap conversation stops here whatever I type after that, I don't know how to go futher

Maybe you can find some relevant information in this old Bugzilla thread :
https://bugzilla.mozilla.org/show_bug.cgi?id=123880

Like this post : 

`
The IMAP standard states that non-ASCII SHOULD only be used when the charset is known (RFC 3501 section 4.3.1). So non-ASCII MIME works in IMAP because of the charset in the Content-Type or header encoding. But for the LOGIN command, the charset is not known. However, if "AUTHENTICATE PLAIN" is used, then the charset is defined to be UTF-8 (per RFC 2595) and this can interoperate. The IMAP standard (RFC 3501) states that servers MUST implement AUTH=PLAIN, so hopefully Exchange is compliant with the standard (I don't have access to an Exchange server to check). If so, this could be fixed by using "AUTHENTICATE PLAIN" with UTF-8 preferentially when non-ASCII username/password are supplied. That would also work with all other standards-compliant IMAP servers for all languages and locales.
`

> I don't know how to get the capabillity after STARTTLS. Any hint ?

```
openssl s_client -starttls imap -connect 10.30.50.5:143
001 CAPABILITY
```

> Maybe you can find some relevant information in this old Bugzilla thread
Thanks, in there is a solution that might work.
Just modify https://github.com/the-djmaze/snappymail/blob/a4008715481ad1e43332254a9c25c1b5ae91ffaf/snappymail/v/0.0.0/app/libraries/MailSo/Imap/ImapClient.php#L217
into
```php
				if ($this->IsSupported('LITERAL+')) {
					$this->sendRaw('{' . \strlen($sPass) . '}', true);
				}
				$this->sendRaw($sPass, true, '*******');
```

Thank you, you point me to the solution for us, but it's not your proposition.

First, the capability thing, I got this : 

```
openssl s_client -starttls imap -connect 10.30.50.5:143
CONNECTED(00000003)
140185243456832:error:1425F102:SSL routines:ssl_choose_client_version:unsupported protocol:../ssl/statem/statem_lib.c:1957:
---
no peer certificate available
---
No client certificate CA names sent
---
SSL handshake has read 1877 bytes and written 316 bytes
Verification: OK
---
New, (NONE), Cipher is (NONE)
Secure Renegotiation IS NOT supported
Compression: NONE
Expansion: NONE
No ALPN negotiated
Early data was not sent
Verify return code: 0 (ok)
```
=> Exchange 2007 seems not to be able to starttls like this because of the old SSL protocol used...

Next I've tried your modification on ImapClient.php, but it didn't work. After several tries, I could figure out that we are not in this case `else if ($this->IsSupported('LOGINDISABLED'))` but we are in the next else block.

So I've modified :

```
                        else
                        {
                                if ($this->oLogger)
                                {
                                        $this->oLogger->AddSecret($this->EscapeString($sPassword));
                                }
                                $oResponse = $this->SendRequestGetResponse('LOGIN',
                                        array(
                                                $this->EscapeString($sLogin),
                                                $this->EscapeString($sPassword)
                                        ));
                        }
```

into

```
                        else
                        {
                                if ($this->oLogger)
                                {
                                        $this->oLogger->AddSecret($this->EscapeString($sPassword));
                                }
                                $oResponse = $this->SendRequestGetResponse('LOGIN',
                                        array(
                                                $this->EscapeString($sLogin),
                                                $this->EscapeString(utf8_decode($sPassword))
                                        ));
                        }

```
(I've just added utf8_decode on the $sPassword variable)

An it seems to work with accentuated passwords or not.